#cloud-config

users:
 - name: appuser
   sudo: ALL=(ALL) NOPASSWD:ALL
   home: /home/appuser
   shell: /bin/bash
   ssh_authorized_keys:
     - ssh-rsa <hash> <ubuntu@ip-address>

byobu_default: system

